body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

input {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 15rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn {
  height: 2rem;
  width: 4rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  height: 1.5rem;
  width: 3rem;
  text-align: center;
  margin: 4px;
}

li {
  list-style: none;
  padding: 0.5rem;
  margin: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  min-width: 55vw;
  max-width: 75vw;
}
